/* .App {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: "Space Mono", sans-serif;
  text-align: center;
  background-color: #eaf0ff;
  color: #002868;
}

.button {
  margin-top: 1em;
  padding: 0.6em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6em;
}

.input {
  padding: 0.6em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6em;
  flex: 1;
}
 */
html,
body {
  height: 100%;
}
input:focus,
button:focus {
  outline: none;
}
body {
  align-items: center;
  background-color: #35297b;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1em;
  padding: 0.6em;
  color: #b3a5ff;
  font-size: 1.6em;
  background-color: transparent;
  border-radius: 0.7em;
  width: 100%;
}

.button::before,
.button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.button:disabled {
  border: 2px solid #6f65a7;
  color: #6f65a7;
  cursor: not-allowed;
}

.input {
  padding: 0.6em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6em;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  color: #b3a5ff;
}
.input::placeholder {
  color: #6f65a7;
}
.login-form {
  flex: 1;
}

.login-form.valid {
  border: 2px solid #18af01;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.login-form.valid .button {
  border: 2px solid #18af01;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.login-form.invalid {
  border: 2px solid rgb(255, 3, 58);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.login-form.invalid .button {
  border: 2px solid rgb(255, 3, 58);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.login-form,
.dashboard {
  border: 2px solid #fff;
  padding: 2em;
  color: #b3a5ff;
  border-radius: 1.8em;
  text-align: center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

h1 {
  color: #fff;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #fff;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #fff;
}

#successAnimationResult {
  fill: #fff;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
    0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
    0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}
